@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	color: rgb(var(--foreground-rgb));
	font-family: var(--leagueSpartan-font);
	font-size: 15px;
	font-weight: 500;
	line-height: 22px;
}

h1 {
	font-size: 26px;
	line-height: 33px;
	letter-spacing: -1px;
	font-weight: bold;
}

h2 {
	font-size: 24px;
	lien-height: 22px;
	letter-spacing: -0.75px;
	font-weight: bold;
}

body {
	background-color: #f8f8fb;
	color: #858BB2;
}

.dark body {
	background-color: #141625;
	color: #fff;
}

.sidebar {
	background-color: #1e2139;
	color: #fff;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	position: fixed;
	top: 0;
	left: 0;
}

.invoices {
	background: white;
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
	padding: 20px 35px;
	border-radius: 15px;
	-moz-border-radius: 15px;
	justify-content: space-between;
	gap: 40px;
	width: 100%;
}

.invoices:last-child {
	margin-bottom: 0;
}

.black-text {
	color: #0c0e16;
}

.dark .black-text {
	color: #fff;
}

.light-grey {
	color: #888eb0;
}

.dark .light-grey {
	color: #fff;
}

.dark .invoices {
	color: #fff;
	background: #1e2139;
}

.dark .invoices .date {
	color: #dfe3fa;
}

.paid {
	background: #f3fcf9;
	color: #33d69f;
}

.pending {
	background: #fff8f0;
	color: #ff8f00;
}

.draft {
	background: rgba(243, 243, 245, 0.7);
	color: #373b53;
}

.dark .draft {
	background: #292c44;
	color: #dfe3fa;
}

.dark .pending {
	background: #2b2736;
	color: #ff8f00;
}

.dark .paid {
	background: rgba(31, 43, 63);
	color: #33d69f;
}

.dark .drawer-side .menu {
	background: #141625;
}

.light-blue {
	background: #fff;
}

.dark .light-blue {
	background: #1e2139;
}

.dark-blue {
	background: #373b53;
}

.blue {
	background-color: #f9fafe;
}

.dark .blue {
	background-color: #252945;
}

.dark .dark-blue {
	background: #0c0e16;
}

input,
select,
textarea {
	font-weight: bold;
	font-size: 15px !important;
	letter-spacing: .5px
}